<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">Edit your campground!</h1>
	<div class="col-md-6 offset-md-3">
		<div class="mb-3">
			<form
				action="/campgrounds/<%=editCamp._id%>?_method=PATCH"
				method="POST"
				novalidate
				class="mb-3 needs-validation"
				enctype="multipart/form-data"
			>
				<div class="mb-3">
					<label class="form-label" for="title">Title: </label>
					<input
						class="form-control"
						type="text"
						name="campground[title]"
						value="<%=editCamp.title%>"
						id="title"
						required
					/>
					<div class="valid-feedback">Looks Good!</div>
					<div class="invalid-feedback">Title cannot be empty</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="price">Price: </label>
					<div class="input-group mb-3">
						<span class="input-group-text" id="price-label">€</span>
						<input
							type="number"
							class="form-control"
							name="campground[price]"
							placeholder="0.00"
							value="<%= editCamp.price %>"
							aria-label="price"
							aria-describedby="price-label"
							required
						/>
						<div class="valid-feedback">Looks Good!</div>
						<div class="invalid-feedback">
							Free campground... maybe I should visit sometime...
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description: </label>
					<textarea
						class="form-control"
						name="campground[description]"
						id="description"
						cols="30"
						rows="5"
					>
<%= editCamp.description %> </textarea
					>
					<div class="valid-feedback">Looks Good!</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="location">Location: </label>
					<input
						class="form-control"
						type="text"
						name="campground[location]"
						value="<%= editCamp.location %>"
						id="location"
						required
					/>
					<div class="valid-feedback">Looks Good!</div>
					<div class="invalid-feedback">
						A campground needs a ground... just saying.
					</div>
				</div>
				<div class="mb-3">
					<label for="image" class="form-label">Upload your Images!</label>
					<input
						class="form-control"
						type="file"
						id="image"
						name="image"
						multiple
					/>
				</div>
				<div class="mb-3">
					<% editCamp.image.forEach(function(img, i) { %>
					<img
						src="<%= img.thumbnail %> "
						class="img-thumbnail"
						alt=""
						srcset=""
					/>
					<div class="form-check-inline">
						<input
							type="checkbox"
							name="deleteImage[]"
							id="image-<%= i %>"
							value="<%= img.filename %> "
						/>
						<label for="image-<%= i %> ">Delete?</label>
					</div>
					<%}) %>
				</div>
				<button class="btn btn-info btn-sm">Save Changes</button>
			</form>
		</div>
		<div class="mb-3">
			<a href="/campgrounds/<%= editCamp._id %>"
				><button class="btn btn-secondary btn-sm">
					Back to <%= editCamp.title %>
				</button></a
			>
		</div>
	</div>
</div>
