<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img src="<%= camp.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= camp.title %>
                        </h5>
                        <p class="card-text">
                            <%= camp.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">It's located in: <strong>
                                <%= camp.location %>
                            </strong>
                        </li>
                        <li class="list-group-item">Price: €<%= camp.price %>/night</li>
                    </ul>
                    <div class="card-body">
                        <a href="/campgrounds/<%= camp._id %>/edit" class="card-link btn btn-info btn-sm">Edit
                            Campground</a>
                        <form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h5>Leave a Review</h5>
                <form action="/campgrounds/<%= camp._id %>/reviews" method="POST" class="mb-3 needs-validation"
                    novalidate>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating:</label>
                        <input type="range" class="form-range" min="1" max="10" name="review[rating]" id="rating">
                    </div>
                    <div class="mb-3">
                        <label for="reviewBody" class="form-label">Review:</label>
                        <textarea name="review[body]" class="form-control" id="reviewBody" cols="30" rows="5"
                            required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <button class="btn btn-success btn-sm">Submit Review</button>
                </form>
                <% for(let review of camp.reviews) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Rating: <%= review.rating %>/10</h5>
                            <p class="card-text">Review: <%= review.body %>
                            </p>
                            <form action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
